<body >
<app-navbar></app-navbar>

<section>

<div class="container m-2 w-[80vw] block mx-auto justify-center items-center ">

  <!-- Tour Details Section -->
  <div class="flex mt-5">
    <!-- Left Image -->
    <div class="w-1/2">
      <img
      src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/10/2772251/1.jpg?4925"
        alt="Tour Image Left" class="w-full h-auto">
    </div>



    <!-- Right Details -->
    <div class="w-1/2 pl-8">
      <h3 class="text-3xl font-semibold mb-4"> Garnier Official Store Even & Matte Normal To Oily Skin Face Cream Moisturizer 40ml Skin Care White 40m</h3>

      <hr />


    </div>
  </div>

  <div class="mt-8">
    <h3 class="text-2xl font-semibold mb-4">Other Suggestions</h3>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
     
      
    </div>

</div>
</div>

</section>

<app-footer></app-footer>

</body>