.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set a height for centering vertically */
  }
  
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
